# This file is probided for development purposes.
# Copy this file to `.env` and adjust values as needed, or leave the default values.

# VERY IMPORTANT: Do not use in production. 
# Use CI/CD infra facilities to manage environment variables and secrets instead.

# --- Database

POSTGRES_IMAGE=postgres:15

POSTGRES_HOST=localhost
# POSTGRES_HOST=clicknback-db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# --- Security

OAUTH_HASH_KEY=7bdb4bcf0b01f00ca206693965b29145611d9419563630525dc848024c38fc08
OAUTH_ALGORITHM=HS256
OAUTH_TOKEN_TTL=30  # Token time-to-live (TTL) in minutes

# --- Logging

LOG_LEVEL=INFO

# --- Application

MAX_CASHBACK_PERCENTAGE=20

DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

# --- Docker network

DOCKER_NETWORK_NAME=clicknback-nw

# --- Application settings

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# --- Container

APP_PORT=8001
APP_IMAGE=ghcr.io/jerosanchez/clicknback:latest